body{
	background-image: url("background.jpg");
	width: 50%;
	height: 70%;
}

.name{
	color: white;
	text-align: left;
	font-weight: bold;
	font-family: 'fantasy';
	font-size: 6.3vw;

}
.image{
	border-radius: 70%;
}

.headings{
	color: lightblue;
	font-weight: bold;
	font-family: 'Asul';
	font-size: 2vw;
}
.col-sm-8 ul{
	color: white;
	font-family: 'Asul';
}
.left-para{
	font-size: 1.2vw; 
}
.para{
	color: white;
	font-family: 'Asul';
	font-size: 1.3vw;
}
.left-heading{
	color: black;
	font-family: 'Asul';
	font-size: 2vw;
}

.pro-table{
	color: white;
}

.top-left{
	height: 50px;
}
.top-block{
	background-color:lightblue;
	height: 50px;
}
.top-right{
	height: 50px;
}
.middle-left{
	height: 130px;
}
.middle-block{
	height: 130px;
}
.middle-right{
	height: 130px;
	left: 20%;
}

.bottom-left{
	height: 1000px;
}
.bottom-block{
	background-color:lightblue;
	height: 1218px;
}
.bottom-right{
	height: 1000px;
}






















